*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Acme" sans-serif;
    font-size: 20px;
    color: #475f77;
    background-color: #ffffff ;
    align-items: center;
    

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bhaskara{
    padding: 30px;
    box-shadow: 6px 6px 20px gray, -6px -6px 20px white;
    align-items: center;

}

.entradas {
    display: flex;
    flex-direction: column;
}

.input-entrada {
    margin: 10px 10px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(56, 55, 55);
    padding-left: 10px;
    font-size: large;
}
